* {
  padding: 0;
  margin: 0;
}
canvas {
  display: block!important;
  margin: 0 auto;
}
h3 {
  margin-top: 10px !important;
}
#wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
#main-canvas {
  border:1px solid rgba(43, 55, 69, 0.5);
}
.header {
  background-color: #FFF;
}
.content {
  flex: 1;
}
.game-border {
  background-color:#333;
  background-image:url('images/stars.gif');
}
.btn.nohover:hover {
  cursor: default !important;
}
.b-b-1 {
  border-bottom: 1px solid #EEE;
}
.m-t-5 {
  margin-top: 5px;
}
.m-t-15 {
  margin-top: 15px;
}
